.body {
    font-family: 'Asap', sans-serif;
}

#nav-logo {
    height: 3rem;
    width: auto;
}

.carousel-img {
   display: block;
   max-width: 100%;
   height: auto;

}

.carousel-item {
    height: 35rem;
    
}

.title {
    font-weight: 700;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}
.badge {
    width:max-content;
}

.icon-bg {
    background-color: #333333;
}

.fas {
    color: white;
}

.white-text {
    color: white;
}

.suscribe {
    padding-top: 5rem;

}

#footer-logo {
    height: 5rem;
    width: auto;

}

.footer-icon {
    font-size: 2rem;
    color: #ffffff;
    padding-left: 1rem;
}

